* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    font-family: sans-serif;
    line-height: 1.5;
    padding: 2rem ;
    color: white;
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-contact {
    display: flex;
    gap: 2rem;
}

.main {
    margin-top: 2rem;
    display: flex;
    margin: 5rem;
    gap: 2rem;
}

