* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    font-family: sans-serif;
    line-height: 1.5;
    padding: 2rem ;
    color: white;
    /* background-color: rgb(247, 86, 23); */
    background: linear-gradient(180deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 0%, rgba(252, 176, 69, 1) 100%);
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-contact {
    display: flex;
    gap: 2rem;
}

.main {
    margin-top: 2rem;
    display: flex;
    margin: 5rem;
    gap: 2rem;
}

.main-form-block {
    flex: 1;
}

.main-description {
    flex: 1;
}