* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    background-color: coral;
    padding: 30px;
}

nav {
    display: flex;
    padding: 15px 20px;
    background-color: rgb(233, 231, 228);
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: black;
}

.container {
    padding: 20px 30px;
    display: flex;
    gap: 30px;
}

.main-article {
    flex: 1;
}

.recent-posts {
    width: 200px;
    box-shadow: 6px 7px 12px 0px rgba(0,0,0,0.63);
}

.recent-posts h3 {
    background-color: coral;
    font-size: 15px;
    padding: 8px;
    color: azure;
}

.recent-posts p {
    font-size: 15px;
    padding: 8px;
    background-color:rgb(233, 231, 228);
    border-bottom: solid 1px grey;
}

.main-article h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.main-article p {
    line-height: 1.5;
    font-size: 15px;
}