* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(33, 33, 66);
    font-family: sans-serif;
}

.container {
    background-color: rgb(204, 213, 224);
    max-width: 800px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    gap: 15px;
}

.card {
    flex: 1;
    background-color: rgb(231, 238, 243);
    border-radius: 5px;
    text-align: center;
    padding: 30px;
}

.card h2 {
    font-size: 15px;
    text-transform: uppercase;
    background-color: grey;
    padding: 10px;
    margin-bottom: 30px;
}

.price {
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: larger;
}

.usage {
    font-size: small;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.description {
    margin-bottom: 30px;
    font-size: small;
}

a {
    border: solid 1px black;
    text-decoration: none;
    padding: 5px 50px;
    font-size: small;
    color: black;
    border-radius: 5px;
}

ul {
    margin-top: 30px;
    font-size: small;
    line-height: 1.2rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

ul li::before {
        content: '✓';
        color: green;
        margin-right: 5px;
    }

.free h2 {
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

.pro h2 {
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
}

.enterprise h2 {
    background: linear-gradient(90deg,rgba(155, 42, 146, 1) 0%, rgba(87, 87, 199, 1) 50%, rgba(83, 193, 237, 1) 100%);
    color: white;
}

.pro a {
    background-color: black;
    color: white;
}