* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(198, 202, 209);
    font-family: sans-serif;
}

.container {
    width: 400px;
    margin: 50px auto;
}

.card {
    background-color: rgb(240, 244, 247);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.card h1 {
    font-size:large;
    margin-bottom: 10px;
}

