* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
}

:root {
    --main-color: rgb(63, 61, 61);
    --second-color: rgb(243, 236, 169);
}

.wrapper {
    background-color: white;
}

.header {
    display: flex;
    margin: 1.5rem auto;
    justify-content: space-between;
    max-width: 60vw;
    padding: 0 2rem;
}

.header-contact {
    display: flex;
    gap: 1rem;
    
}

.header-contact a {
    text-decoration: none;
    color: var(--main-color);
}

.hero-text {
    margin: 5rem auto;
    max-width: 60vw;
    padding: 0 2rem;
    text-align: center;
    font-size: 0.8rem;
}

.hero-text h1 {
    font-weight: 200;
}

